.filters {
	/* display: block;
	background-color: #FFFFFF;
	height: 48px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	margin-top: 10px; */
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	position: absolute;
	height: 1000px;
	overflow: auto;
}

.filters a {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
}

.filters a.active {
	background-color: #055041;
	color: white;
}

.filters a:hover:not(.active) {
	background-color: #555;
	color: white;
}

div.content {
	margin: 5px 5px 5px 205px;
	padding: 1px 1px;
	height: 1000px;
	border: 1px solid #aca4a4;
	border-radius: 2px;
}

.company {
	display: inline;
	vertical-align: middle;
	float: left;
	height: 100%;
	width: 25%;
	color: #FFFFFF;
	line-height: 20px;
	border-right: 1px solid #DDDDDD;
}

.user {
	display: inline;
	vertical-align: middle;
	height: 100%;
	float: right;
    width: 25%;
	color: #FFFFFF;
	line-height: 20px;
	border-left: 1px solid #DDDDDD;
}

table {
	width: 95%;
	margin-top: 10px;
}

table, th, td {
	border: 1px solid white;
	border-collapse: collapse;
}

th, td {
/* background-color: #96D4D4; */
	margin: 5px;
	border-color: #055041;
}

tr.hover {
	cursor: pointer;
	background-color: #dcf9f5 !important;
 }

.popover {
	list-style-type: none;
	display: none;
	background-color: #FAFAFA;
	width: 100%;

	margin-left: -1px;
	margin-top: 8px;
	padding: 25px 0px;

	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

.locations:hover .popover {
	display: inline-block;
}

.filter_amenities:hover .popover {
	display: inline-block;
}

ul {
	list-style-type: none;
	padding: 0px;
	padding-bottom: 20px;
}


h2 {
	font-size: 16px;
	padding-left: 30px;
	margin: 0px;
}

h3 {
	font-weight: 600;
	margin-top: 12px;
	margin-bottom: 5px;	
	padding-left: 45px;
}

h4 {
	font-size: 14px;
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 45px;
}

button {
	color: #FFFFFF;
	font-size: 18px;
	
	height: 38px;
	/* width: 20%; */
	background-color: #055041;
	border-style: none;
	border-radius: 10%;

	float: left;
	/* margin-top: 11px;
	margin-bottom: 11px;
	margin-right: 30px; */
}

button:hover {
	opacity: 90%;
}
